# Dependencies
node_modules/

# Build outputs
dist/
target/
**/target/

# Java artifacts
*.class
*.jar
*.war
*.ear

# Env
.env
*.local

# Logs
logs/
*.log

# Coverage
coverage/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# NetBeans (si usas)
nbproject/private/