# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Env
.env
*.local

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Coverage
coverage/

# Java / Maven / Quarkus
*.jar
*.class
*.war
target/
**/target/
/Backend/nbproject/private/